# week_02

# Comments & Basic Data Types

In [1]:
"""
    This is a multi-line comment
"""
print("Hello")    # this is a comment

Hello

In [2]:
# the following are all integers
print(2)
print(10)

2
10

In [3]:
# the following are all floats
print(10.953)
print(8.0) # even this number is a float

10.953
8.0

In [4]:
# the following are booleans
print(True)
print(False)

True
False

In [5]:
# the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

# Variables

In [6]:
num1 = 5          # storing aan integer into a variable
num2 = 8.4        # storing a float into a variable
print(num1, num2) # you can print multiple items using commas

5 8.4

In [7]:
# storing a boolean into a varible
switch = True
print(switch)

True

In [8]:
# storing strings into a variabale
name = 'John Smith'
fav_number = '9'
print(name, fav_number)          # will print 9 next to the name

John Smith 9

In [9]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [10]:
# adding, deleting, multiplying, dividing from a variable
result += 1 # same asa saying result = result + 1
print(result)
result *= num1 # same as saying result = result * num1
print(result)

14.4
72.0

In [11]:
# defining a variable nad overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [12]:
x = 3
y = 10
result = x * y
print(result)

30

In [13]:
w = 245.54
h = 13.66
result = w * h
print(result)

3354.0764

# Working with Strings

In [14]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [15]:
# using the addition opereator with variables
first_name = 'John'
last_name = 'Smith'
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [16]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [17]:
# usinig the new f strings
name = "Erik"
print(f"Hello {name}")

Hello Erik

In [18]:
# one major difference between versinos 2 & 3
name = 'Erik'
print('Hello, %s' % name)

Hello, Erik

In [19]:
# python 2 multiple varible formatting
first_name = 'Erik'
last_name = 'Molnar'
print("Hello, %s %s" % (first_name, last_name))     # surround the varaiables in parenthesis

Hello, Erik Molnar

In [20]:
# using indexes to print each element
word = "Hello"
print(word[0]) # will output 'H'
print(word[1]) # will output 'e'
print(word[-1]) # will output 'o'

H
e
o

In [21]:
print(word[0:2]) # will output 'He'

He

In [22]:
print(word[0:5:2]) # will output 'Hlo'

Hlo

In [23]:
i = 23
j = 4.5
k = False
l = 'Erik'
print(f"{i},{j},{k},{l}")

23,4.5,False,Erik

# Manipulating Strings

In [24]:
# using the title method to capitalize a string
name = "erik molnar"
print(name.title())
print(name.upper())
print(name.lower())

Erik Molnar
ERIK MOLNAR
erik molnar

In [25]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!","."))

Hello there.

In [26]:
# finding the staarting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [27]:
# removing white space with strip
name = "    john   "
print(name.strip())

john

In [28]:
# convertinig a strring iinto a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [29]:
help(" ".strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

# Printing Receipts

In [37]:
# create aa product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

In [31]:
# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

In [32]:
# declare a top border
message = "Thanks for shopping with us today!"

In [33]:
# create a top border
print("*" * 50)

**************************************************

In [38]:
# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA

In [35]:
# print a line between sections
print("=" * 50)

==================================================

In [36]:
# print out header for section of items
print("\tProduct Name\tProduct Price")

	Product Name	Product Price

In [39]:
# creaate a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

	Books		$49.95
	Computer		$579.99
	Monitor		$124.89

In [40]:
# print a line between sections
print('=' * 50)

==================================================

In [41]:
# print out header for section of total
print("\t\t\tTotal")

			Total

In [43]:
# calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

			$754.83

In [45]:
# print a line between sections
print("=" * 50)

==================================================

In [46]:
# output thank you messge
print("\n\t{}\n".format(message))

	Thanks for shopping with us today!

In [47]:
# create a bottom border
print("*" * 50)

**************************************************